@font-face {
    font-family:neue;
    src: url(./NeueHaasDisplayBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:neue;
    font-size: large;
    font-weight: 400;
    
}